<span class="menu_side_list"><a id="whats_new_link" class="a_menu_side" href="javascript:void(0)"
                                role="link" ng-click="gotoElement('whats_new_section','whats_new_link')">WHAT'S NEW</a></span></br>
<span class="menu_side_list"><a id="downloads_link" class="a_menu_side" href="javascript:void(0)"
                                role="link"
                                ng-click="gotoElement('download_mobile_apps', 'downloads_link')">DOWNLOAD</a></span></br>
<span class="menu_side_list"><a id="installation_link" class="a_menu_side" href="javascript:void(0)"
                                role="link" ng-click="gotoElement('installation', 'installation_link')">INSTALLATION</a></span></br>
<span class="menu_side_list"><a id="DockerConfiguration_link" class="a_menu_side" href="javascript:void(0)"
                                role="link"
                                ng-click="gotoElement('DockerConfiguration', 'DockerConfiguration_link')">DOCKER CONFIGURATION</a></span></br>
<span class="menu_side_list"><a id="APIs_link" class="a_menu_side" href="javascript:void(0)" role="link"
                                ng-click="gotoElement('APIs', 'APIs_link')">APIs</a></span>