
    <article id="whats_new_section" style="padding-bottom: 56px">
        <div class="whats_new">What's New</div>

        <!--
        <div class="menu_side" ng-include="'app/user/views/menu-side.html'">

        </div>-->
        <div class="menu_side">

        <span class="menu_side_list"><a id="whats_new_link" class="a_menu_side" href="javascript:void(0)"
                                        role="link" ng-click="gotoElement('whats_new_section','whats_new_link')">WHAT'S NEW</a></span></br>
            <span class="menu_side_list"><a id="downloads_link" class="a_menu_side" href="javascript:void(0)"
                                            role="link"
                                            ng-click="gotoElement('download_mobile_apps', 'downloads_link')">DOWNLOAD</a></span></br>
            <span class="menu_side_list"><a id="installation_link" class="a_menu_side" href="javascript:void(0)"
                                            role="link" ng-click="gotoElement('installation', 'installation_link')">INSTALLATION</a></span></br>
            <span class="menu_side_list"><a id="DockerConfiguration_link" class="a_menu_side" href="javascript:void(0)"
                                            role="link"
                                            ng-click="gotoElement('DockerConfiguration', 'DockerConfiguration_link')">DOCKER CONFIGURATION</a></span>
        </div>


            <!-------------------- MC ----------------------->
            <div class="gather_left">

                <div class="whats_new_section_pic mc_pic_padding">
                    <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66">
                        <g>
                            <circle cx="33" cy="33" r="33" fill="#ce42f4"></circle>
                            <text x="50%" y="50%" fill="#fff" text-anchor="middle" dy=".35em" font-size="34px">MC</text>
                            <title>Mobile Center</title>
                        </g>
                    </svg>
                </div>

                <div class="paragraph">
                    <p class="whats_new_width_paragraph_70">- Offline mode – to enable demonstration of Mobile Center with Advantage native applications (iOS and Android), without internet connection.</p>
                    <p class="whats_new_width_paragraph_70">- iPad support.</p>
                    <p class="whats_new_width_paragraph_70">- UFT-MC - Element recognition improvements.</p>
                </div>

            </div>

            <!-------------------- FT ----------------------->
            <div class="gather_right">

                <div class="whats_new_section_pic">
                    <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66">
                        <g>
                            <circle cx="33" cy="33" r="33" fill="#ce42f4"></circle>
                            <text x="50%" y="50%" fill="#fff" text-anchor="middle" dy=".35em" font-size="34px">FT</text>
                            <title>Functional Testing</title>
                        </g>
                    </svg>
                </div>

                <div class="paragraph">
                    <p class="whats_new_width_paragraph_60 padding_bottom_5_px">- Significate improvements in our
                        element recognition - enabling a better SPY recognition</p>
                    <p class="whats_new_width_paragraph_70">- UI improvements</p>
                </div>

            </div>

            <!-------------------- APP ----------------------->
            <div class="gather_left">

                <div class="whats_new_section_pic app_pic_padding">
                    <div title="Advantage Online Shopping" class="circle_advantage_icon"></div>
                </div>

                <div class="paragraph">
                    <p class="whats_new_width_paragraph_70 padding_bottom_5_px">- Downloads page including links to all our
                        assets: <a class="color_turquoise" href="http://www.advantageonlineshopping/com/downloads">http://www.advantageonlineshopping/com/downloads</a></p>
                    <p class="whats_new_width_paragraph_70 padding_bottom_5_px">- Advantageonlineshopping.com is our production server, and as such, it is updated every night with the latest changes. For a static version go to: <a class="color_turquoise" href="http://www.advantageonlineshopping.com:8080">http://www.advantageonlineshopping.com:8080</a> this instance will be updated every major release, a heads-up alert will be sent to all the relevant stakeholders.<p>
                    <p class="whats_new_width_paragraph_70 padding_bottom_5_px">- Quality improvements - more than 35
                        defects were closed
                    <p>
                </div>

            </div>

            <!-------------------- LR ----------------------->
            <div class="gather_right">

                <div class="whats_new_section_pic">
                    <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66">
                        <g>
                            <circle cx="33" cy="33" r="33" fill="#ce42f4"></circle>
                            <text x="50%" y="50%" fill="#fff" text-anchor="middle" dy=".35em" font-size="34px">LR</text>
                            <title>LoadRunner</title>
                        </g>
                    </svg>
                </div>

                <div class="paragraph">
                    <p class="whats_new_width_paragraph_60 padding_bottom_5_px">- Advantage installation – creating a stable installation</p>
                </div>

            </div>
    </article>

    <!-------------------- Download Mobile Apps ----------------------->
    <article id="download_mobile_apps">
        <div class="section_line section_line_padding">
            <div class="section_font">Download Mobile Apps</div>
            <div class="padding_bottom_60_px multiple_elements_overflow">

                <!-------------------- Download ios ----------------------->
                <div class="devices" style="float:left;" onclick="location.href='https://s3.amazonaws.com/on-prem-downloads/1.1.2/Advantage+demo+1_1_2.ipa';">
                    <div class="devices_pic">
                        <img src="../../css/images/AppleLogo.svg">
                    </div>
                    <div class="devices_inner_line">
                        <span>Download</span>
                        <span class="devices_font"><b>IOS</b></span>
                    </div>
                </div>
                <!-------------------- Download android ----------------------->
                <div class="devices" onclick="location.href='https://s3.amazonaws.com/on-prem-downloads/1.1.2/Advantage+demo+1_1_2.apk';">
                    <div class="devices_pic">
                        <img src="../../css/images/Android_logo.svg">
                    </div>
                    <div class="devices_inner_line">
                        <span>Download</span>
                        <span class="devices_font"><b>Android</b></span>
                    </div>
                </div>
            </div>

            <span>* Both are instrumented for AppPulse Mobile</span>
        </div>
    </article>
    <!-------------------- Installation ----------------------->
    <article id="installation">
        <div class="section_line section_line_padding">
            <div class="section_font">Installation</div>


            <span class="padding_bottom_15_px">If you want your own instance, you can install it from Here:</span>

            <div class="multiple_elements_overflow">

                <!-------------------- ADM Market ----------------------->
                <div class="devices" onclick="location.href='https://marketplace.microfocus.com/appdelivery/content/advantage-online-shopping-aos-adm-demo-application';">
                    <div class="devices_pic">
                        <img src="../../css/images/MicroFocus_logo_black.svg">
                    </div>
                    <div class="devices_inner_line" style="width: 145px">
                        <span>Get it from</span>
                        <span class="devices_font"><b>ADM Marketplace</b></span>
                    </div>

                </div>

                <span class="installation_section_requirements"><b>SYSTEM REQUIREMENTS:</b></span>
                <span>Recommended OS: Windows 7, Windows 10 and Windows 2008R2</span>
                <span>Hardware: 4 CPU and 16GB memory</span>

                <span class="installation_section_requirements"><b>PREREQUISITES:</b></span>
                <a class="color_turquoise" href="https://www.java.com/en/download/">- Java version 8</a>
                <a class="color_turquoise" href="https://www.postgresql.org/download/windows/">- PostgresSQL version
                    9.4.X or up</a>

                <div class="postgres_section">
                    <span style="font-size: 15px">PostgresSQL User :</span>
                    <span>User : postgres</span>
                    <span>Password : admin</span>
                </div>

            </div>
        </div>
    </article>

    <!-------------------- Docker Configuration ----------------------->

    <article id="DockerConfiguration">
        <div class="section_line section_line_padding">
            <div class="section_font">Docker Configuration</div>
            <span class="padding_bottom_15_px">Configure AOS locally with Docker (Ubuntu/Centos OS are supported) by running:</span>
            <span>git clone -b 1.1.2 <a class="color_turquoise" href="https://github.com/aosapp/account-service.git">https://github.com/aosapp/account-service.git</a></span>
            <span style="padding-top: 20px; padding-down: 20px"><b>AOS installation:</b></span>
            <span>cd account-service/Nimbus_aos/aos_all_in_one/</span>
            <span>chmod +x startup.sh</span>
            <span>./startup.sh</span>
            <span style="padding-top: 20px; padding-down: 20px"><b>For the DevOps story:</b></span>
            <span>cd account-service/Nimbus_aos/aos_pipline/aos_all_in_one/</span>
            <span>chmod +x startup.sh</span>
            <span>./startup.sh</span>
            <span style="padding-top: 20px"><b>* Review and update the relevant fields in .env file (hidden file).</b></span>
            <span>&nbsp&nbspFor machines in HPE network, don't forget to update the proxy fields.</span>

        </div>
    </article>

    <!-------------------- bottom ----------------------->
    <article>
        <div class="section_line" style="padding-bottom: 15px">

            <div class="bottom_section">
                <div style="display: table-cell;width: 3%">
                    <img src="../../css/images/Notice.svg" height="32px" width="27px">
                </div>
                <div class="paragraph" style="display: table-cell">

                    <p class="color_grey">Please note that:</p>
                    <p class="color_grey">- <a
                            class="color_turquoise" href="http://advantageonlineshopping.com">advantageonlineshopping.com</a> is our production server and as such, is updated with version 1.1.4.</p>
                    <p class="color_grey">- <a
                            class="color_turquoise" href="http://advantageonlineshopping.com:8080">advantageonlineshopping.com:8080</a> is our build server and as such, is updated nightly with the latest changes.</p>
                    <p class="color_grey" style="line-height: 24px;">&nbsp&nbspFeel free to use both.</p>

                </div>
            </div>
            </div>

        </div>
    </article>